In [2]:
# Cell 0
# All the needed imports

import numpy as np
import pandas as pd
#%pip install nltk
import nltk
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import (
    accuracy_score,
    precision_score,
    recall_score,
    f1_score,
    classification_report,
    confusion_matrix,
    ConfusionMatrixDisplay
)
import matplotlib.pyplot as plt
from nltk.sentiment import SentimentIntensityAnalyzer
from tqdm.notebook import tqdm
from IPython.display import display

In [3]:
#nltk.download('all')

In [4]:
# Cell 1
# Load the raw data

original_df = pd.read_csv('ks-projects-201801.csv')

# Remove all nans
original_df = original_df.dropna()
display(original_df.head())

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,1000.0,2015-08-11 12:12:28,0.0,failed,0,GB,0.0,0.0,1533.95
1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,30000.0,2017-09-02 04:43:57,2421.0,failed,15,US,100.0,2421.0,30000.00
2,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,45000.0,2013-01-12 00:20:50,220.0,failed,3,US,220.0,220.0,45000.00
3,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,5000.0,2012-03-17 03:24:11,1.0,failed,1,US,1.0,1.0,5000.00
4,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29,19500.0,2015-07-04 08:35:03,1283.0,canceled,14,US,1283.0,1283.0,19500.00

In [5]:
# Cell 2
# Reorganize the data

# Drop the following columns: ID, usd_pledged, usd_pledged_real, usd_goal_real
df = original_df.drop(
    ["pledged", "usd pledged", "usd_pledged_real", "goal", "backers"], axis=1
)

# Rename the columns
df = df.rename(
    columns={
        "ID": "id",
        "name": "name",
        "category": "category",
        "main_category": "main_category",
        "deadline": "deadline",
        "launched": "launched",
        "state": "state",
        "currency": "currency",
        "country": "country",
        "usd_goal_real": "goal",
    }
)

# Conver the launch and deadline to year-month-day
df['launched'] = pd.to_datetime(pd.to_datetime(df['launched'], format="%Y-%m-%d %H:%M:%S").dt.date)
df['deadline'] = pd.to_datetime(pd.to_datetime(df['deadline'], format="%Y-%m-%d").dt.date)

# Calculate the amount of days between launch and deadline
df['durration'] = (df['deadline'] - df['launched']).dt.days
df['start_month'] = df['launched'].dt.month_name()
df['end_month'] = df['deadline'].dt.month_name()
df['start_day_name'] = df['launched'].dt.day_name()
df['end_day_name'] = df['deadline'].dt.day_name()
display(df.head())

,id,name,category,main_category,currency,deadline,launched,state,country,goal,durration,start_month,end_month,start_day_name,end_day_name
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,2015-08-11,failed,GB,1533.95,59,August,October,Tuesday,Friday
1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,2017-09-02,failed,US,30000.00,60,September,November,Saturday,Wednesday
2,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,2013-01-12,failed,US,45000.00,45,January,February,Saturday,Tuesday
3,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,2012-03-17,failed,US,5000.00,30,March,April,Saturday,Monday
4,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29,2015-07-04,canceled,US,19500.00,56,July,August,Saturday,Saturday

In [6]:
# Cell 3
# Print start shape
print(df.shape)

# Keep only success or fail
df = df[(df['state'] == 'failed') | (df['state'] == 'successful')]

# Remove country
df = df[df['country'] != 'N,0"']

# df = df.drop(columns=['currency', 'country'], axis=1)

# Reset index
df = df.reset_index(drop=True)

# Print end shape
print(df.shape)

# Final data before one hot encoding everything
display(df.head())

(374860, 15)
(331462, 15)

,id,name,category,main_category,currency,deadline,launched,state,country,goal,durration,start_month,end_month,start_day_name,end_day_name
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,2015-08-11,failed,GB,1533.95,59,August,October,Tuesday,Friday
1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,2017-09-02,failed,US,30000.00,60,September,November,Saturday,Wednesday
2,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,2013-01-12,failed,US,45000.00,45,January,February,Saturday,Tuesday
3,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,2012-03-17,failed,US,5000.00,30,March,April,Saturday,Monday
4,1000014025,Monarch Espresso Bar,Restaurants,Food,USD,2016-04-01,2016-02-26,successful,US,50000.00,35,February,April,Friday,Friday

In [8]:
df.head()

,id,name,category,main_category,currency,deadline,launched,state,country,goal,durration,start_month,end_month,start_day_name,end_day_name
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,2015-08-11,failed,GB,1533.95,59,August,October,Tuesday,Friday
1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,2017-09-02,failed,US,30000.00,60,September,November,Saturday,Wednesday
2,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,2013-01-12,failed,US,45000.00,45,January,February,Saturday,Tuesday
3,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,2012-03-17,failed,US,5000.00,30,March,April,Saturday,Monday
4,1000014025,Monarch Espresso Bar,Restaurants,Food,USD,2016-04-01,2016-02-26,successful,US,50000.00,35,February,April,Friday,Friday

In [38]:
pd.set_option('display.float_format', lambda x: '%.2f' % x)
#Do A five num sum of main_category
def stat(df):
    uniques = df['main_category'].unique()

    for cat in uniques:
        rows = df[df['main_category'] == cat]
        goal = rows['goal']
        print(f"Main Category {cat}")
        print(f"How much of the data is this category {rows.shape[0] / df.shape[0]}")
        print(f"success vs failure: {(rows['state']=='successful').sum()} vs {(rows['state']=='failed').sum()} ratio {(rows['state']=='successful').sum() / ((rows['state']=='successful').sum() + (rows['state']=='failed').sum())}")
        print(f"Average Duration: {rows['durration'].mean()}")
        print(f"5 Number Summary of Goal Amount: {goal.describe()}")
        print()


stat(df)

Main Category Publishing
How much of the data is this category 0.10683879298381112
success vs failure: 12300 vs 23113 ratio 0.3473300765255697
Average Duration: 33.727953011605905
5 Number Summary of Goal Amount: count       35413.00
mean        17555.34
std        588173.02
min             0.55
25%          2000.00
50%          4995.00
75%         10000.00
max     100000000.00
Name: goal, dtype: float64

Main Category Film & Video
How much of the data is this category 0.1704659961021173
success vs failure: 23612 vs 32891 ratio 0.41788931561156045
Average Duration: 35.00943312744456
5 Number Summary of Goal Amount: count       56503.00
mean        76122.96
std       1703544.55
min             0.15
25%          2500.00
50%          6400.00
75%         20000.00
max     151395869.92
Name: goal, dtype: float64

Main Category Music
How much of the data is this category 0.13817873542065154
success vs failure: 24105 vs 21696 ratio 0.526298552433353
Average Duration: 35.30933822405624
5 Number Summary of Goal Amount: count      45801.00
mean       14449.20
std       340786.69
min            0.74
25%         1581.98
50%         4000.00
75%         8750.00
max     50000000.00
Name: goal, dtype: float64

Main Category Food
How much of the data is this category 0.06653553046804762
success vs failure: 6085 vs 15969 ratio 0.2759136664550648
Average Duration: 33.89602793144101
5 Number Summary of Goal Amount: count       22054.00
mean        48167.92
std       1351873.53
min             0.88
25%          3782.48
50%         10000.00
75%         25000.00
max     166361390.71
Name: goal, dtype: float64

Main Category Crafts
How much of the data is this category 0.023586414128919757
success vs failure: 2115 vs 5703 ratio 0.2705295471987721
Average Duration: 31.447429009976975
5 Number Summary of Goal Amount: count       7818.00
mean        9954.61
std       122118.75
min            1.00
25%          693.10
50%         2176.06
75%         6139.34
max     10000000.00
Name: goal, dtype: float64

Main Category Games
How much of the data is this category 0.08604304565832584
success vs failure: 12518 vs 16002 ratio 0.4389200561009818
Average Duration: 32.218758765778404
5 Number Summary of Goal Amount: count       28520.00
mean        38947.10
std        873125.80
min             0.75
25%          2400.00
50%          7500.00
75%         20000.00
max     100000000.00
Name: goal, dtype: float64

Main Category Design
How much of the data is this category 0.07651857528163107
success vs failure: 10549 vs 14814 ratio 0.41592082955486337
Average Duration: 34.13890312660174
5 Number Summary of Goal Amount: count      25363.00
mean       38238.05
std       697331.86
min            0.75
25%         3700.00
50%        10000.00
75%        25000.00
max     80000000.00
Name: goal, dtype: float64

Main Category Comics
How much of the data is this category 0.029801304523595466
success vs failure: 5842 vs 4036 ratio 0.5914152662482284
Average Duration: 33.84662887224135
5 Number Summary of Goal Amount: count        9878.00
mean        20192.22
std       1016377.79
min             0.72
25%          1289.94
50%          3500.00
75%          7988.75
max     100000000.00
Name: goal, dtype: float64

Main Category Fashion
How much of the data is this category 0.059656913914717224
success vs failure: 5593 vs 14181 ratio 0.28284616162637805
Average Duration: 32.61292606452918
5 Number Summary of Goal Amount: count       19774.00
mean        21885.95
std        730956.95
min             1.00
25%          2000.00
50%          5500.00
75%         15000.00
max     100000000.00
Name: goal, dtype: float64

Main Category Theater
How much of the data is this category 0.03089946962246049
success vs failure: 6534 vs 3708 ratio 0.6379613356766256
Average Duration: 33.31312243702402
5 Number Summary of Goal Amount: count      10242.00
mean       23133.03
std       466501.25
min            1.00
25%         1500.00
50%         3101.35
75%         7250.00
max     40000000.00
Name: goal, dtype: float64

Main Category Art
How much of the data is this category 0.07735426685411903
success vs failure: 11510 vs 14130 ratio 0.44890795631825275
Average Duration: 32.33276131045242
5 Number Summary of Goal Amount: count       25640.00
mean        39432.31
std       1366948.43
min             0.01
25%           977.75
50%          2963.84
75%          7040.23
max     100000000.00
Name: goal, dtype: float64

Main Category Photography
How much of the data is this category 0.029231103414569394
success vs failure: 3305 vs 6384 ratio 0.3411084735266797
Average Duration: 33.514913819795645
5 Number Summary of Goal Amount: count      9689.00
mean      11098.15
std      105255.70
min           1.00
25%        1500.00
50%        3925.00
75%        9990.00
max     7300000.00
Name: goal, dtype: float64

Main Category Technology
How much of the data is this category 0.08159608039533943
success vs failure: 6433 vs 20613 ratio 0.23785402647341566
Average Duration: 35.26336611698588
5 Number Summary of Goal Amount: count       27046.00
mean        97964.52
std       1591359.08
min             0.75
25%          5007.01
50%         18000.00
75%         50000.00
max     110169771.62
Name: goal, dtype: float64

Main Category Dance
How much of the data is this category 0.010779516203969082
success vs failure: 2338 vs 1235 ratio 0.6543520850825637
Average Duration: 32.81332213825917
5 Number Summary of Goal Amount: count      3573.00
mean       8332.16
std       37271.84
min           5.00
25%        1600.00
50%        3200.00
75%        6500.00
max     1000000.00
Name: goal, dtype: float64

Main Category Journalism
How much of the data is this category 0.012514255027725652
success vs failure: 1012 vs 3136 ratio 0.24397299903567984
Average Duration: 34.25048216007715
5 Number Summary of Goal Amount: count        4148.00
mean        70111.17
std       1706134.80
min             1.00
25%          1500.00
50%          5000.00
75%         13694.03
max     100000000.00
Name: goal, dtype: float64